.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;

  }
  
  /* Style the table header */
  .table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
  /* Style the table cells */
  .table td, .table th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  /* Alternate row color for better readability */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Increase padding for better cell content spacing */
  .table td {
    padding: 10px;
    font-weight: bolder;
  }

  .table-container {
    display: flex;
    justify-content: center;
    
  }

  .table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    height: 50%;
    margin-left: 80px;
  }